
#crudTable_wrapper #crudTable .crud_bulk_actions_checkbox input.form-check-input,
#crudTable_wrapper table.dataTable .crud_bulk_actions_checkbox input.form-check-input {
    position: relative;
    margin: 0 auto;
}

#crudTable {
    background-color: #FFFFFF !important;
}

h1[bp-section=page-heading] {
    font-size: 2rem;
    line-height: 2.1rem;
}
